:root {
  /* Spacing */
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 55px;

  /* Colors */
  --blue-900: #212d37;
  --blue-300: #e1e8f0;
  --orange-900: #a55350;
  --gray-500: #6d7d8b;
  --gray-100: #f1f1f1;
  --white: #fff;

  /* Sizes */
  --bg-default: 400px;
  --line-height-5: 1.4;
  --line-height-2: 1.2;
  --card-w: 370px;
  --card-h: 240px;
  --w-80: 80%;
  --w-75: 75%;
  --w-50: 50%;
  --w-30: 30%;
  --w-25: 25%;
  --w-5: 5%;
  --radius-1: 1rem;
  --size-md: 1.2rem;
  --size-sm: 0.8rem;
  --fw-bold: bold;

  /* Opacity */
  --o-bg-default: 0.7;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding: 0;
}

img,
picture,
svg {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.screenreader-text {
  height: 1px;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
}
.screenreader-text:focus {
  display: inline-block;
  height: auto;
  margin: auto;
  position: static;
  width: auto;
}

@font-face {
  font-family: "Lato";
  src: url("../lato-v24-latin_latin-ext-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  color: var(--blue-900);
}

a {
  display: inline-block;
  color: var(--orange-900);
  text-decoration: none;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--orange-900);
  bottom: -1px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: var(--spacing-xs);
}

.letter-spacing-1 {
  letter-spacing: var(--spacing-xs);
}

/* Display */
.block {
  display: block;
}

.d-none {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.space-between {
  justify-content: space-between;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* Margin */
.-mt-4 {
  margin-top: -4.5rem;
}

.mt-xxl {
  margin-top: var(--spacing-xxl);
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl);
}

.mb-md {
  margin-bottom: var(--spacing-md);
}

.mb-sm {
  margin-bottom: var(--spacing-sm);
}

.m-auto {
  margin: auto;
}

.ml-lg {
  margin-left: var(--spacing-lg);
}

.m-xl {
  margin: var(--spacing-xl);
}
/* Padding */
.p-0 {
  padding: 0;
}

.p-md {
  padding: var(--spacing-md);
}

.pt-lg {
  padding-top: var(--spacing-lg);
}

.pt-xxl {
  padding-top: var(--spacing-xxl);
}

.pb-xxl {
  padding-bottom: var(--spacing-xxl);
}

.pb-lg {
  padding-bottom: var(--spacing-lg);
}

.p-lg {
  padding: var(--spacing-lg);
}

.pr-lg {
  padding-right: var(--spacing-lg);
}

/* Gap */
.gap-sm {
  gap: var(--spacing-sm);
}

.gap-md {
  gap: var(--spacing-md);
}

.gap-lg {
  gap: var(--spacing-lg);
}

.gap-xxl {
  gap: var(--spacing-xxl);
}

/* Font */
.font-light {
  font-weight: 300;
}

.leading-5 {
  line-height: var(--line-height-5);
}

.leading-2 {
  line-height: var(--line-height-2);
}

.font-size-md {
  font-size: var(--size-md);
}

.font-size-sm {
  font-size: var(--size-sm);
}

.font-weight-bold {
  font-weight: var(--fw-bold);
}

/* Background */
.bg-default {
  height: var(--bg-default);
  opacity: var(--o-bg-default);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-blue-900 {
  background-color: var(--blue-900);
}

.bg-blue-300 {
  background-color: var(--blue-300);
}

/* Button */
.btn-default {
  padding: var(--spacing-sm);
  background-color: var(--blue-900);
  border: 1px solid transparent;
  color: var(--white);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  padding: var(--spacing-sm);
  background-color: var(--white);
  border: 1px solid var(--blue-900);
  color: var(--blue-900);
}

/* Text */
.text-gray-500 {
  color: var(--gray-500);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Width */
.w-5 {
  width: var(--w-5);
}

.w-25 {
  width: var(--w-25);
}

.mw-30 {
  min-width: var(--w-30);
}

.w-80 {
  width: var(--w-80);
}

.w-75 {
  width: var(--w-75);
}

.mw-75 {
  max-width: var(--w-75);
}

.w-50 {
  width: var(--w-50);
}

.w-100 {
  width: 100px;
}

.w-full {
  width: 100%;
}

/* Height */
.h-100 {
  height: 100px;
}

/* Header */
.nav-text-style {
  letter-spacing: var(--spacing-xs);
  text-transform: uppercase;
}

.nav-text-style a {
  color: var(--blue-900);
}

.nav-text-style a:hover,
.nav-text-style a:focus,
.nav-text-style a:active {
  color: var(--orange-900);
}

.description-inner-spacing p {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

/* Border radius */
.rounded-1 {
  border-radius: var(--radius-1);
}

.rounded-50 {
  border-radius: 50%;
}

/* Pointer */
.pointer {
  cursor: pointer;
}

.icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.icon svg {
  pointer-events: none;
}

a:hover .icon {
  filter: invert(31%) sepia(25%) saturate(482%) hue-rotate(321deg)
    brightness(90%) contrast(96%);
}

a:hover::before .icon {
  display: none;
}

/* Media queries */
@media (min-width: 768px) {
  .md-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }
  .mdw-50 {
    width: var(--w-75);
  }

  .md-flex-center {
    display: flex;
    flex-direction: row;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .md-p-lg {
    padding: var(--size-md);
  }

  .md-p-0 {
    padding: 0;
  }

  .md-bg-blue-300 {
    background-color: var(--blue-300);
  }

  .md-w-80 {
    width: var(--w-80);
  }

  .md-block {
    display: block;
  }
}

/* Cards */
.index-card,
.offer-list-card {
  width: 100%;
}

.index-card {
  @media (min-width: 768px) {
    width: var(--w-25);
  }
}

.index-card:hover .card-text,
.offer-list-card:hover .card-text {
  color: var(--orange-900);
  transition: all 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: var(--card-h);
}

.card-img-top {
  @media (min-width: 768px) {
    max-width: var(--card-w);
    height: var(--card-h);
  }
}

.card-text {
  letter-spacing: var(--spacing-xxs);
  line-height: var(--spacing-lg);
  color: var(--blue-900);
}

.offer-list-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  @media (min-width: 768px) {
    flex-direction: row;
    gap: var(--spacing-lg);
  }
}

.offer-list-card .card-title {
  margin-top: 0;
}

.offer-list-card .card-body {
  width: var(--w-80);
}

.offer-list-card .card-img-top {
  @media (min-width: 768px) {
    width: var(--card-w);
    min-width: var(--card-w);
    max-width: var(--card-w);
    height: var(--card-h);
  }
}

.logo_white_horizontal {
  width: 350px;
}

/* PriceList */
.toc-dots {
  flex: 1;
  border-bottom: 1px dotted var(--blue-900);
  margin: 0 var(--size-md);
}
