<div class="w-80 m-auto md-grid pt-xxl pb-xxl font-size-sm">
  <!-- About -->
  <div class="flex-center flex-column flex-start gap-lg pr-lg">
    <a href="/" class="w-75 flex-center">
      <object
        type="image/svg+xml"
        data="svg/logo_white_horizontal.svg"
      ></object>
    </a>
    <div class="text-gray-500 leading-5">
      Platforma promocyjno-informacyjna. Profesjonalną terapię logopedyczną i
      pedagogiczną, korepetycje i przygotowanie do egzaminu z języka polskiego,
      wsparcie w rozwoju poprzez Kompas Kariery i mentoring oraz edukację
      finansową. Adresowana do różnych grup odbiorców.
    </div>
    <div>
      <div class="text-uppercase font-weight-bold pb-lg">O platformie</div>
      <div class="flex-center justify-start gap-md">
        <a href="">O nas</a>
        <a href="">Baza wiedzy (FAQ)</a>
        <a href="">Polityka prywatności</a>
        <a href="">Kontakt</a>
      </div>
    </div>
    <div class="flex-center flex-start gap-md">
      <a href="/" title="Facebook" target="_blank">
        <object class="icon-fb" type="image/svg+xml" data="svg/fb.svg"></object>
      </a>

      <a href="/" title="LinkedIn" target="_blank">
        <object class="icon-in" type="image/svg+xml" data="svg/in.svg"></object>
      </a>
    </div>
  </div>
  <!-- Links -->
  <div class="flex-center flex-column justify-start p-lg">
    <div>
      <div class="text-uppercase font-weight-bold pb-lg">Na skróty</div>
      <div class="flex-center flex-column flex-start gap-lg">
        <a href="">Cennik</a>
        <a href="">Kurs Edukacji Finansowej Crown</a>
        <a href="">Kompas Kariery</a>
        <a href="">Terapia logopedyczna</a>
        <a href="">Terapia pedagogiczna</a>
        <a href="">Mentoring</a>
      </div>
    </div>
  </div>
  <!-- Adress -->
  <div>
    <div
      class="flex-center flex-column flex-start justify-start gap-md p-lg rounded-1 bg-blue-300"
    >
      <div class="text-uppercase font-weight-bold pb-lg">Kontakt</div>
      <div class="flex-center justify-start gap-lg">
        <object type="image/svg+xml" data="svg/phone.svg"></object>
        <div>
          <div>Beata Śmigiera - 604080990</div>
          <br />
          <div>Janusz Śmigiera - 505801269</div>
        </div>
      </div>
      <div class="flex-center justify-start gap-lg">
        <object type="image/svg+xml" data="svg/envelope.svg"></object>
        <a href="mailto:przystanekfer@gmail.com">przystanekfer@gmail.com</a>
      </div>
      <div class="flex-center justify-start gap-lg">
        <object type="image/svg+xml" data="svg/map.svg"></object>
        05-230 Kobyłka, ul. Zagańczyka 15
      </div>
    </div>
  </div>
</div>
<!-- Copyright -->
<div class="flex-center flex-end gap-sm font-size-sm bg-blue-300 p-lg">
  2024 | Made with ♥ by<a
    href="https://www.linkedin.com/in/justyna-broniszewska-490/"
    target="_blank"
    >JB</a
  >| All rights reserved
</div>
