<ul role="list" class="flex-center gap-lg nav-text-style">
  <li>
    <a class="active" href="../../index.html" title="Strona główna">
      <object type="image/svg+xml" data="svg/home.svg"></object>
    </a>
  </li>
  <li>
    <a href="pages/about.html">O nas</a>
  </li>
  <li>
    <a href="pages/offerList.html/">Oferta</a>
  </li>
  <li>
    <a href="pages/priceList.html/">Cennik</a>
  </li>
  <li>
    <a href="pages/contact.html/">Kontakt</a>
  </li>
  <li>
    <a href="pages/faq.html/">FAQ</a>
  </li>
</ul>
